<!DOCTYPE html>
{{ "<!-- evento -->" | safeHTML }}
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}es-es{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
<!-- Hero Section -->       
        <header class="header-cursos">
            {{ partial "nav.html" . }} 
        </header>
        <div class="header-page-short">
            <div class="header-page-text-box">
                <h1>{{ with .Params.Title }}{{ . | markdownify  }}{{ end }}</h1>
            </div>
        </div>             
        <section class="intensivos" id="cursos-intensivos">
          <div class="container">  
            <div class="row justify-content-center">
                {{ with .Params.intensivostitle }}
                 <h2>{{ . | markdownify }}</h2>
                {{ end }} 
                {{ with .Params.intensivosintro }}
                 <p>{{ . | markdownify }}</p>
                {{ end }}
                 <p class="w-100">{{ .Params.profesores | markdownify }} {{ .Params.profesoreslnk | markdownify  }}</p>
                 <p></p>
            </div>
                    <div class="row">
                        <div id="main" class="col-md-12">
            
                            <div class="list"> 
                                <div class="list-body">
                                    {{ range .Site.Data.cursosintensivos }}
                                    <div class="list-el">
                                        <div class="intro">
                                            <div class="name">{{ .title }}</div>
                                            <div class="other-params">
                                                            <img class="img-fluid rounded float-right"src="{{ .thumb }}" alt="{{ .thumb }}">
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <div class="excerpt-fullwidth">
                                                    {{ .description | markdownify }}
                                            </div>
            
            
                                        </div>
                                    </div>
                                    {{ end }}
                            
                        </div>
                        </div>
                        </div>

                        </div>
            <!-- Tarjetas con los próximos cursos -->
            <div class="container" id="proximos-cursos">
                    <div class="row justify-content-center" style="margin-top: 5rem;">
                             <h3>Próximos Cursos</h3>
                        </div>    
                <div class="row">
                            {{ range where (.Site.RegularPages.ByParam "date1") "Type" "eventos"}}
                            {{ if ge (time .Params.date1) now.Unix }}
                            {{ if eq .Params.tipoevento "Curso" }}
                             <div class="col-6 col-sm-4 col-lg-3 card-row px-1 px-md-3">
                                <a class="card event-box" href="{{ .RelPermalink }}">
                                    <img class="card-img" src="{{ .Site.BaseURL }}{{ .Params.thumb }}" alt=".Params.thumb">
                                    <div class="card-img-overlay">
                                        <div class="card-evento-date">
                                            <div class="card-evento-month">
                                                    {{ index $.Site.Data.mes (printf "%d" ((time .Params.date1).Month)) }}
                                            </div>
                                            <div class="card-evento-day">
                                                    {{ dateFormat "2" .Params.date1 }}{{ with .Params.date2 }}-{{dateFormat "2" . }}{{ end }}
                                            </div>
                                            <div class="card-evento-year">
                                                    {{ dateFormat "2006" .Params.date1 }}
                                            </div>
                                        </div>
                                        <div class="card-evento-ciudad">{{ .Params.ciudad }}</div>
                                        <div class="card-title card-evento-title">
                                            <div class="card-evento-tipo">{{ .Params.tipoevento }}</div>
                                            <div class="card-evento-maintitle">{{ .Params.title }}</div>
                                        </div>    
                                    </div>
                                </a>    
                            </div>
                            {{ end }}
                            {{ end }}
                            {{ end }}
                        </div>
            </div>
           </div>
        </section>

<!-- Sección Charlas -->

        <section class="charlas" id="idcharlas">
            <div class="container">  
            <div class="row justify-content-center">
                {{ with .Params.charlastitle }}
                 <h2>{{ . | markdownify }}</h2>
                {{ end }} 
                {{ with .Params.charlasintro }}
                 <p>{{ . | markdownify }}</p>
                {{ end }}
            </div>
            <div class="container">
                    <div class="row">
            
                        <div id="main" class="col-md-12">
            
                            <div class="list">
           
                                
                                <div class="list-body">
                                    {{ range .Site.Data.charlas }}
                                    <div class="list-el">
                                        <div class="intro">
                                            <div class="name">{{ .title }}</div>
                                            <div class="other-params">
                                                <div class="flex-box">
                                                    <div class="column-3">
                                                            <img class="img-fluid rounded float-right"src="{{ .thumb }}" alt="{{ .thumb }}">
                                                    </div>
            
            
                                                </div>
                                            </div>
                                        </div>
                                        <div class="desc">
                                            <div class="excerpt-fullwidth">
                                                    {{ .description | markdownify }}
                                            </div>
            
            
                                        </div>
                                    </div>
                                    {{ end }}
                            
                        </div>
                        </div>
                        </div>

                        </div>
                </div>
                <div class="container" id="proximas-charlas">
                        <div class="row justify-content-center" style="margin-top: 5rem;">
                                 <h3>Próximas Charlas</h3>
                            </div>    
                    <div class="row">
                                {{ range where (.Site.RegularPages.ByParam "date1") "Type" "eventos"}}
                                {{ if ge (time .Params.date1) now.Unix }}
                                {{ if eq .Params.tipoevento "Charla" }}
                                 <div class="col-6 col-sm-4 col-lg-3 card-row px-1 px-md-3">
                                    <a class="card event-box" href="{{ .RelPermalink }}">
                                        <img class="card-img" src="{{ .Site.BaseURL }}{{ .Params.thumb }}" alt=".Params.thumb">
                                        <div class="card-img-overlay">
                                            <div class="card-evento-date">
                                                <div class="card-evento-month">
                                                        {{ index $.Site.Data.mes (printf "%d" ((time .Params.date1).Month)) }}
                                                </div>
                                                <div class="card-evento-day">
                                                        {{ dateFormat "2" .Params.date1 }}{{ with .Params.date2 }}-{{dateFormat "2" . }}{{ end }}
                                                </div>
                                                <div class="card-evento-year">
                                                        {{ dateFormat "2006" .Params.date1 }}
                                                </div>
                                            </div>
                                            <div class="card-evento-ciudad">{{ .Params.ciudad }}</div>
                                            <div class="card-title card-evento-title">
                                                <div class="card-evento-tipo">{{ .Params.tipoevento }}</div>
                                                <div class="card-evento-maintitle">{{ .Params.title }}</div>
                                            </div>    
                                        </div>
                                    </a>    
                                </div>
                                {{ end }}
                                {{ end }}
                                {{ end }}
                            </div>
                </div>
            </div>
        </section>

<!-- Sección Talleres -->
        <section class="charlas" id="idtalleres">
                <div class="container">  
                <div class="row justify-content-center">
                    {{ with .Params.talleresstitle }}
                     <h2>{{ . | markdownify }}</h2>
                    {{ end }} 
                    {{ with .Params.talleresintro }}
                     <p>{{ . | markdownify }}</p>
                    {{ end }}
                </div>
                <div class="container">
                        <div class="row">
                
                            <div id="main" class="col-md-12">
                
                                <div class="list">
               
                                    
                                    <div class="list-body">
                                        {{ range .Site.Data.talleres }}
                                        <div class="list-el">
                                            <div class="intro">
                                                <div class="name">{{ .title }}</div>
                                                <div class="other-params">
                                                    <div class="flex-box">
                                                        <div class="column-3">
                                                                <img class="img-fluid rounded float-right"src="{{ .thumb }}" alt="{{ .thumb }}">
                                                        </div>
                
                
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="desc">
                                                <div class="excerpt-fullwidth">
                                                        {{ .description | markdownify }}
                                                </div>
                
                
                                            </div>
                                        </div>
                                        {{ end }}
                                
                            </div>
                            </div>
                            </div>
    
                            </div>
                    </div>
                    <div class="container" id="proximos-talleres">
                            <div class="row justify-content-center" style="margin-top: 5rem;">
                                     <h3>Próximos Talleres</h3>
                                </div>    
                        <div class="row">
                                    {{ range where (.Site.RegularPages.ByParam "date1") "Type" "eventos"}}
                                    {{ if ge (time .Params.date1) now.Unix }}
                                    {{ if eq .Params.tipoevento "Taller" }}
                                     <div class="col-6 col-sm-4 col-lg-3 card-row px-1 px-md-3">
                                        <a class="card event-box" href="{{ .RelPermalink }}">
                                            <img class="card-img" src="{{ .Site.BaseURL }}{{ .Params.thumb }}" alt=".Params.thumb">
                                            <div class="card-img-overlay">
                                                <div class="card-evento-date">
                                                    <div class="card-evento-month">
                                                            {{ index $.Site.Data.mes (printf "%d" ((time .Params.date1).Month)) }}
                                                    </div>
                                                    <div class="card-evento-day">
                                                            {{ dateFormat "2" .Params.date1 }}{{ with .Params.date2 }}-{{dateFormat "2" . }}{{ end }}
                                                    </div>
                                                    <div class="card-evento-year">
                                                            {{ dateFormat "2006" .Params.date1 }}
                                                    </div>
                                                </div>
                                                <div class="card-evento-ciudad">{{ .Params.ciudad }}</div>
                                                <div class="card-title card-evento-title">
                                                    <div class="card-evento-tipo">{{ .Params.tipoevento }}</div>
                                                    <div class="card-evento-maintitle">{{ .Params.title }}</div>
                                                </div>    
                                            </div>
                                        </a>    
                                    </div>
                                    {{ end }}
                                    {{ end }}
                                    {{ end }}
                                </div>
                    </div>
                </div>
            </section>

                                
        {{ partial "footer1.html" . }}
        {{ partial "js.html" }}
        {{ partial "jsacordion.html" }}
    </body>
</html>
