<!DOCTYPE html>
{{ "<!-- evento -->" | safeHTML }}
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}es-es{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        <header class="header-article">
            {{ partial "nav.html" . }} 
        </header>

        <div class="container" >
            <div class="row">
                <!-- *** LEFT-COLUMN *** -->   
                <div class="col-md-12 evento-main">
                    <div class="row">
                        <h1>{{ .Title }}</h1> 
                        {{ with .Params.Subtitle }}<h2>{{ . }}</h2>
                        {{ end }}   
                    </div>

                    <div class="row small-gutters d-flex align-items-center evento-data">
                        <div class="col-2 evento-label align-middle">
                            <p>Cuando: </p>
                        </div>
                        <div class="col-10 evento-fecha align-middle">
                            <p>
                                {{ dateFormat "2" .Params.date1 }} {{ index $.Site.Data.meses (printf "%d" ((time .Params.date1).Month)) }} {{ dateFormat "2006" .Params.date1 }}
                            {{ with .Params.date2 }}
                            - 
                            {{ dateFormat "2" . }} {{ index $.Site.Data.meses (printf "%d" ((time .).Month)) }} {{ dateFormat "2006" . }}
                        
                            {{ end }}
                            
                            </p>    
                        </div>
                    </div>
                    <div class="row align-items-start small-gutters evento-data">
                            <div class="col-2 evento-label">
                                <p>Donde: </p>
                            </div>
                            <div class="col-10 evento-text-min ">
                                <p class="evento-lugar">{{ .Params.lugar }}</p>
                                <p>{{ .Params.direccion }}</p>
                                <p>{{ .Params.ciudad }}</p>      
                            </div>
                    </div>
                    <div class="row small-gutters d-flex align-items-center evento-data">
                        <div class="col-2 evento-label">
                            <p>Precio: </p>
                        </div>
                        <div class="col-10 evento-text-min">
                            <p>{{ .Params.precio }}</p>    
                        </div>
                    </div>
                    <div class="row small-gutters evento-data">
                            <div class="col-2 evento-label">
                                <p>Contacto: </p>
                            </div>
                            <div class="col-10 evento-text-min">
                                    <img src="/img/_ionicons_svg_md-person.svg" style="height:1rem; float: left; padding-right:1em;"></img> <p class="evento-lugar"> {{ .Params.contactoname }}</p>
                                    <img src="/img/_ionicons_svg_ios-call.svg" style="height:1rem; float: left; padding-right:1em;"></img> <p> {{ .Params.contactotelefono }}</p>
                                    <img src="/img/_ionicons_svg_ios-mail.svg" style="height:1rem; float: left; padding-right:1em;"></img> <p> {{ .Params.contactoemail }}</p>    
                            </div>
                        </div>                    
                    <div class="row">
                        <div id="evento-content">
                        <img src="/{{ .Params.thumb }}" class="rounded float-right evento-img" alt="{{ .Params.thumb }}">
                        {{ with .Content }}{{ . }}{{ end }}
                        </div>
                        <!-- /#evento-content -->
                        {{ if .Site.DisqusShortname }}
                        <div id="comments">
                         {{ template "_internal/disqus.html" . }}
                        </div>
                        {{ end }}            
                        </div>
                    
                </div>


                 <!-- *** LEFT COLUMN END *** -->

   

                </div>
                <!-- /.row -->
            </div>    







    
        {{ partial "js.html"}}
    </body>
</html>
