<!DOCTYPE html>
{{ "<!-- evento -->" | safeHTML }}
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}es-es{{ end }}">
    {{ if eq .Params.tipoevento "Curso" }}
        {{ partial "curso.html" . }}
    {{ else }}
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
        <header class="header-article">
            {{ partial "nav_dark.html" . }} 
        </header>

        <div class="container" >
            <div class="row evento-main">
                <h1>{{ .Title }}</h1> 
                {{ with .Params.Subtitle }}<h2>{{ . }}</h2>{{ end }}   
            </div>
            <div class="row bg-light no-gutters">
            
                <!-- *** LEFT-COLUMN *** -->   
                <div class="col-12 col-md-9 evento-main">
                    <div class="row d-flex align-items-center evento-data">
                        <div class="col-2 evento-label align-middle">
                            <p>Cuándo: </p>
                        </div>
                        <div class="col-10 evento-fecha align-middle">
                            <p>
                                {{ dateFormat "2" .Params.date1 }} {{ index $.Site.Data.mes (printf "%d" ((time .Params.date1).Month)) }} {{ dateFormat "2006" .Params.date1 }}
                            {{ with .Params.date2 }}
                            - 
                            {{ dateFormat "2" . }} {{ index $.Site.Data.mes (printf "%d" ((time .).Month)) }} {{ dateFormat "2006" . }}
                        
                            {{ end }}
                            
                            </p>    
                        </div>
                    </div>
<!-- LUGAR -->   
                    <div class="row align-items-start small-gutters evento-data">
                            <div class="col-2 evento-label">
                                <p>Dónde: </p>
                            </div>
                            <div class="col-10 evento-text-min ">
                                <p class="evento-lugar">{{ .Params.lugar }}</p>
                                <p>{{ .Params.direccion }}</p>
                                <p>{{ .Params.ciudad }}</p>      
                            </div>
                    </div>
<!-- PRECIO -->                     
                    <div class="row small-gutters d-flex align-items-center evento-data">
                        <div class="col-2 evento-label">
                            <p>Precio: </p>
                        </div>
                        <div class="col-10 evento-text-min">
                            <p>{{ .Params.precio }}
                                {{ $fecha := .Params.earlybirdfecha }}
                                {{ $precio := .Params.earlybirdprecio }}
                                {{ with .Params.earlybird }}{{ if gt $fecha (now.Format "2006-01-02") }} ({{ $precio }} hasta el {{ dateFormat "2" $fecha }} de {{ index $.Site.Data.meses (printf "%d" ((time $fecha).Month)) }}){{ end }} {{ end }}</p>    
                        </div>
                    </div>
<!-- CONTACTO - TELEFONO - MAIL -->                    
                    <div class="row small-gutters evento-data">
                            <div class="col-2 evento-label">
                                <p>Contacto: </p>
                            </div>
                            <div class="col-10 evento-text-min">
                                    {{ with .Params.contactoname }}
                                    <img src="/img/_ionicons_svg_md-person.svg" style="height:1rem; float: left; padding-right:1em; margin-top:8px;"></img> <p class="evento-lugar"> {{ . }}</p>
                                    {{ end }}
                                    {{ with .Params.contactotelefono }}
                                    <img src="/img/_ionicons_svg_ios-call.svg" style="height:1rem; float: left; padding-right:1em; margin-top:8px;"></img> <p> {{ . }}</p>
                                    {{ end }}
                                    {{ with .Params.contactoemail }}
                                    <img src="/img/_ionicons_svg_ios-mail.svg" style="height:1rem; float: left; padding-right:1em; margin-top:8px;"></img> <p> {{ . }}</p>
                                    {{ end }}
                                    {{ with .Params.contactoweb }}
                                     <p> {{ . }}</p>
                                    {{ end }}
                            </div>
                    </div>
<!-- INSCRIPCIÓN -->
                    {{ partial "inscripcion.html" . }}
                    
                </div>
                <div class="col-md-3 evento-main">
                    <img src="/{{ .Params.thumb }}" class="rounded float-right evento-img" alt="{{ .Params.thumb }}">    
                </div>
                
                </div>
                <!-- /.row -->
            </div>
            <div class="container">
                <div class="row evento-main">
                    <div id="evento-content">
                        {{ with .Content }}{{ . }}{{ end }}
                    </div>            
                </div>
            </div>
                                
        {{ partial "footer.html" . }}
        {{ partial "js.html"}}
        {{ with .Params.inscripcion }}{{ partial "jsacordion.html" }}{{ end }}
    </body>
    {{ end }}
</html>
