<div class="bottom-articulo-libro">
    <div class="row">
        <p>Se puede encontrar una descripción de esta filosofía de la educación en los libros de Aletha Solter: Mi bebé lo entiende todo, Mi niño lo entiende todo, LLantos y rabietas y Juegos que unen. (Ediciones Medici, Barcelona, España). (Titulos en inglés: The Aware Baby, Helping Young Children Flourish, Tears and Tantrums y Attachment Play.)</p>
    </div>
    <div class="card-deck">
        <div class="card">
          <a target="_blank" href="https://amzn.to/2QYWycp"><img src="/img/libros/mi-bebe-lo-entiende-todo-aletha-solter.jpg" alt="Mi bebé lo entiende todo" class="card-img-top"></a>
            <div class="card-footer">          
            <p class="card-text">Mi bebé lo entiende todo</p>
          </div>
        </div>
        <div class="card">
            <a target="_blank" href="https://amzn.to/2AnAy0A"><img src="/img/libros/mi-nino-lo-entiende-todo-aletha-solter.jpg" alt="Mi niño lo entiende todo" class="card-img-top"></a>
            <div class="card-footer">
              <p class="card-text">Mi niño lo entiende todo</p>
            </div>
          </div>
          <div class="card">
              <a target="_blank" href="https://amzn.to/2RjCSiT"><img src="/img/libros/llantos-y-rabietas-aletha-solter.jpg" alt="Llantos y Rabietas" class="card-img-top"></a>
            <div class="card-footer">
              <p class="card-text">Llantos y rabietas</p>
            </div>
          </div>
          <div class="card">
              <a target="_blank" href="https://amzn.to/2R6vfNv"><img src="/img/libros/juegos_que_unen_aletha_solter.jpg" alt="Juegos que unen" class="card-img-top"></a>
            <div class="card-footer">
              <p class="card-text">Juegos que unen</p>
            </div>
          </div>
      </div>
</div>