<!-- Escuela de Familias Faq Section -->

    <section class="faq" id="faq">
    <div class="container">
    {{ if .Params.faq }}    
        <div class="row justify-content-center">
            {{ with $.Params.faqtitle }}
             <h2>{{ . | markdownify }}</h2>
            {{ end }} 
            {{ with $.Params.faqintro }}
             <p>{{ . | markdownify }}</p>
            {{ end }}
        </div>
        <div class="row ">
            {{ range $.Site.Data.faqescuela }}
            <div class="col-xs-12 margin-b-normal">
                <input id="collapsible_{{ .title }}" class="faq-toggle" type="checkbox">
                <label for="collapsible_{{ .title }}" class="faq-toggle style-faq-item-title"><i class="fa fa-chevron-down text-right"></i>&nbsp;&nbsp;{{ .title }}</label>
                <div class="collapsible-content">
                    <p class="style-faq-item-description">{{ .description | markdownify }}</p>
                </div>	
            </div>
            
            {{ end }}
        </div>
    {{ end }}
        <div class="flex-parent-row flex-justify-content padding-tb-normal">
                <div class="flex-parent-row flex-justify-content">
                    <h4>{{ with .Params.faqcontacto }}{{ . | markdownify }}{{ end }}</h4>
                </div>
                <div class="flex-parent-row padding-tb-normal">
                    <form class="formulario-contacto" action="{{ .RelPermalink }}" method="POST" netlify netlify-honeypot="bot-field" name="consulta-faq"  data-netlify="true">
                        <div class="flex-parent-row">
                            <div class="form-25">
                                <label for="name">Nombre</label>
                            </div>
                            <div class="form-75 padding-lr-normal">
                                <input type="text" name="name" id="name" placeholder="Tu nombre" oninvalid="alert('Por favor, introduce tu nombre');" required>
                            </div>
                        </div>
                        <div class="flex-parent-row">
                            <div class="form-25">
                                <label for="email">Email</label>
                            </div>
                            <div class="form-75 padding-lr-normal">
                                <input type="email" name="email" id="email" placeholder="Tu email" oninvalid="alert('Por favor, introduce tu email');" pattern="(?!(^[.-].*|[^@]*[.-]@|.*\.{2,}.*)|^.{254}.)([a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@)(?!-.*|.*-\.)([a-zA-Z0-9-]{1,63}\.)+[a-zA-Z]{2,15}" required>
                            </div>
                        </div>
                        <div class="flex-parent-row">
                            <div class="form-25">
                                <label>Pregunta</label>
                            </div>
                            <div class="form-75 padding-lr-normal">
                                <textarea name="mensaje" placeholder="Escribe aquí tu pregunta"></textarea>
                            </div>
                        </div>
                        <div class="flex-parent-row">
                            <div class="form-25">
                                <label>&nbsp;</label>
                                <p class="d-none">
                                    <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
                                </p>
                            </div>
                            <div class="form-75 padding-lr-normal" style="text-align: left;">
                                <input type="submit" value="Enviar" success="{{ with .Site.Params.form.faqexito }}{{ . }}{{ end }}">
                            </div>
                        </div>            
                    </form>          
                </div>
        </div>
    </div>
</section>

 
<!-- End - Escuela de Familias Faq Section -->