{{ "<!-- partials:escuela-nav:start -->" | safeHTML }}
<aside class="layout-sticky py-3 shadow-sm" id="secondarynav" style="border-bottom: 1px solid #ddd;">
    <div class="container">
        <div class="flex-parent-scroll ap-scrollbar">
            {{ range .Params.secciones }}
                <div class="flex-child-scroll">
                    <a href="{{ .lnk }}">{{ .desc }}</a>
                </div> 
            {{ end }}
        </div>
    </div>
</aside>
{{ "<!-- partials:partials:escuela-nav:end -->" | safeHTML }}