<!-- Escuela de Familias testimonios Section -->
<section class="escuelasection" id="testimonios">
    <div class="flex-parent-row">
        <div class="flex-justify-content">
            {{ with .Params.testimoniostitle }}
                <h2>{{ . | markdownify }}</h2>
            {{ end }}
            {{ with .Params.texttestimonio }}
                <p>{{ . | markdownify }}</p>
            {{ end }}  
        </div>
        <div class="flex-justify-content video-container">
            <iframe class="video-window" src="https://www.youtube.com/embed/p4VwotauraA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>    
    </div>      
</section>
<!-- End - Escuela de Familias Faq Section -->