{{ "<!-- partials:escuela-nav:start -->" | safeHTML }}
    <nav class="layout-sticky light-shadow" id="secondarynav" style="border-bottom: 1px solid #ddd;">
        <div class="flex-content ">
            <div class="flex-parent-scroll ap-scrollbar padding-tb-normal">
                {{ range .Params.secciones }}
                    <div class="flex-child-scroll">
                        <a class="scroll" href="{{ .lnk }}">{{ .desc }}</a>
                    </div> 
                {{ end }}
            </div>
        </div>
            
    </nav>

{{ "<!-- partials:partials:escuela-nav:end -->" | safeHTML }}