{{ "<!-- escuela-sidebar.html -->" | safeHTML }}
<section class="sidebar-layout sticky-sidebar" id="sidebarescuela">
    <div class="sidebar-block-flex" id="calendar">
        <div class="sidebar-icon-flex">
            <i class="fa fa-calendar"></i>
        </div>
        <div class="sidebar-text-flex">
            <div class="sidebar-header"><strong>14 sesiones</strong></div>
            <p>Periodicicad quincenal</p>
        </div>
    </div>
    <div class="sidebar-block-flex" id="clock">
        <div class="sidebar-icon-flex">
            <i class="fa fa-clock-o"></i>
        </div>
        <div class="sidebar-text-flex">
            <div class="sidebar-header"><strong>2 horas por sesión</strong></div>
            <p>Martes, de 18 a 20 h</p>            
        </div>
    </div>
    <div class="sidebar-block-flex" id="group">
        <div class="sidebar-icon-flex">
            <i class="fa fa-users"></i>
        </div>
        <div class="sidebar-text-flex">
            <div class="sidebar-header"><strong>Grupos reducidos</strong></div>
            <p>Máximo 12 personas</p>      
            <div class="row">
                <div class="sidebar-pill">Infancia<br>2-9 años</div>
                <div class="sidebar-pill">Adolescencia<br>10-16 años</div>
            </div>
                  
        </div>
    </div>
    <div class="sidebar-block-flex" id="contenidos">
        <div class="sidebar-icon-flex">
            <i class="fa fa-graduation-cap"></i>
        </div>
        <div class="sidebar-text-flex">
            <div class="sidebar-header"><strong>Contenido<br>personalizado</strong></div>
            <p>Adaptado al grupo</p>      
            <div class="row">
                <div class="sidebar-pill">Casos<br>prácticos</div>
                <div class="sidebar-pill">Exposición<br>teórica</div>
                <div class="sidebar-pill">Material<br>de consulta</div>
            </div>
                  
        </div>
    </div>
    <div class="sidebar-block-flex white-bg" id="precio">
        <div class="col-xs-2 sidebar-icon-flex">
            <i class="fa fa-euro"></i>
        </div>
        <div class="sidebar-text-flex">
            <div class="sidebar-header"><strong>Precio</strong></div>
            <p><strong>295 €</strong> antes del 15/9</p>
            <p><strong>350 €</strong> despúes del 15/9</p>                     
        </div>
    </div>    
    <div class="sidebar-block-flex flex-justify-content white-bg">
            <a class="btn btn-full text-center" href="{{ .Params.registerlnk }}">{{ .Params.buttonregistro }}</a>
    </div>
        
                
    
</section>