    <div class="row padding-lr-normal">
        <div class="row justify-content-center pilares-ap">
            {{ with .Params.inscripciontitle }}
                <h2>{{ . | markdownify }}</h2>
            {{ end }}
        </div>
        <div class="row">
            <div class="excerpt-fullwidth">
                <p>Inscríbete ahora para asegurar tu plaza y me pondré en contacto contigo para formalizar la inscripción realizando el pago.</p>
                <p>Precio del curso:
                        <li>Antes del 1 de septiembre: 295 euros</li>
                        <li>Después del 1 de septiembre: 350 euros</li>
                </p>
                {{ $precio:= .Params.precio }}
                {{ $precioearlybird := .Params.earlybirdprecio }}
                {{ $fecha := .Params.earlybirdfecha }}
                <div class="flex-parent-row"></div>
                <form class="formulario-escuela" action="{{ .RelPermalink }}" method="post" netlify netlify-honeypot="bot-field" name="escuelafamilias" data-netlify="true" style="padding-top: 20px;" action="/form/exito">
                    <div class="flex-parent-row">
                        <div class="form-25">
                            <label for="name">Nombre</label>
                        </div>
                        <div class="form-75 padding-lr-normal">
                            <input type="text" name="name" id="name" placeholder="Tu nombre y apellidos" oninvalid="alert('Por favor, introduce tu nombre y apellidos');" required>
                        </div>
                    </div>
                    <div class="flex-parent-row">
                        <div class="form-25">
                            <label for="email">Email</label>
                        </div>
                        <div class="form-75 padding-lr-normal">
                            <input type="email" name="email" id="email" placeholder="Tu email" oninvalid="alert('Por favor, introduce tu email');" pattern="(?!(^[.-].*|[^@]*[.-]@|.*\.{2,}.*)|^.{254}.)([a-zA-Z0-9!#$%&'*+\/=?^_`{|}~.-]+@)(?!-.*|.*-\.)([a-zA-Z0-9-]{1,63}\.)+[a-zA-Z]{2,15}" required>
                        </div>
                    </div>
                    <div class="flex-parent-row">
                            <div class="form-25">
                                <label for="telefono">Teléfono</label>
                            </div>
                            <div class="form-75 padding-lr-normal">
                                <input type="text" name="telefono" id="telefono" placeholder="Tu teléfono" oninvalid="alert('Por favor, introduce tu teléfono');" pattern="^[0-9-+\s()]*$" required>
                            </div>
                    </div>
                    <div class="flex-parent-row">
                        <div class="form-25">
                            <label for="localidad">Localidad</label>
                        </div>
                        <div class="form-75 padding-lr-normal">
                            <input type="text" name="localidad" id="localidad" placeholder="Localidad donde resides" oninvalid="alert('Por favor, introduce tu localidad');" required>
                        </div>
                </div>
                    <div class="flex-parent-row">
                            <div class="form-25">
                                <label for="grupo">Grupo</label>
                            </div>
                            <div class="form-75 padding-lr-normal">
                                <select id="grupo" name="grupo">
                                    <option value="Infancia">Infantil</option>
                                    <option value="Infancia">Primaria</option>
                                    <option value="Adolescencia">Adolescencia</option>
                                </select>
                            </div>
                    </div>

                    <div class="flex-parent-row">
                        <div class="form-25">
                            <label>&nbsp;</label>
                            <p class="d-none">
                                <label>Don’t fill this out if you're human: <input name="bot-field" /></label>
                              </p>
                        </div>
                        <div class="form-75" style="text-align: left;">
                            <input type="submit" value="Enviar" success="{{ with .Site.Params.form.escuelaexito }}{{ . }}{{ end }}">
                        </div>
                    </div>
                    
                </form>
            </div>
        </div>
    </div>