<script   src="https://code.jquery.com/jquery-3.3.1.min.js"   integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="   crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
{{ "<!-- Plugin JavaScript jquery easing required for scrolling in script.js -->" | safeHTML }}
<!-- <script src="/js/vendor/jquery.waypoints.min.js"></script> -->
<script src="/js/vendor/jquery.easing.1.3.js"></script>

<script src="/js/script.js"></script>
<script src="/js/nav-scroll.js"></script>
<script src="/js/vendor/jquery.scrolloffset.js"></script>

<!-- jquery contact form event handler   --> 
<script>
  $(function() {
    $('.scroll').scrollOffset({
      offset: 115,
      duration: 500 // default: 400
    });
  });
</script>
<script>
    $("form").submit(function(e) {
      e.preventDefault();
      var $form = $(this);
      var submitButton = $('input[type=submit]', this);
  
      $.post($form.attr("action"), $form.serialize()).done(function(data) {
          var successMessage = submitButton.attr("success");
          alert(submitButton.attr('success'));
          submitButton.prop('disabled', true);
      }).fail(function(data) {
        // Optionally alert the user of an error here...
      });
    });    
  </script>

  <script>
    /* Light YouTube Embeds by @labnol */

    /* Web: http://labnol.org/?p=27941 */

    document.addEventListener("DOMContentLoaded",
        function() {
            var div, n,
                v = document.getElementsByClassName("youtube-player");
            for (n = 0; n < v.length; n++) {
                div = document.createElement("div");
                div.setAttribute("data-id", v[n].dataset.id);
                div.innerHTML = labnolThumb(v[n].dataset.id);
                div.onclick = labnolIframe;
                v[n].appendChild(div);
            }
        });

    function labnolThumb(id) {
        var thumb = '<img src="/css/img/video_escuela_familias_thumbnail.jpeg">',
            play = '<div class="play"></div>';
        return thumb.replace("ID", id) + play;
    }

    function labnolIframe() {
        var iframe = document.createElement("iframe");
        iframe.setAttribute("src", "https://www.youtube.com/embed/" + this.dataset.id + "?autoplay=1");
        iframe.setAttribute("frameborder", "0");
        iframe.setAttribute("allowfullscreen", "1");
        this.parentNode.replaceChild(iframe, this);
    }

</script>
