<nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href={{ if .IsHome }}"#page-top"{{ else }}"/#page-top"{{ end }}>
            <img src="{{ .Site.Params.navigation.brand_logo }}" alt="Aware Parenting" class="logo">
        </a>
        <button class="navbar-toggler navbar-light" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0 main-nav main-nav-dark">
            {{ if .IsHome }}
			   {{ range .Site.Params.navigation.items }}
                <li class="nav-item">
                    <a class="nav-link" href="{{ .frontpageurl }}">{{ .name }}</a>
                </li>
               {{ end }}
            {{ else }}  
			   {{ range .Site.Params.navigation.items }}
                <li class="nav-item">
				     <a class="nav-link" href="{{ .url }}">{{ .name }}</a>
				</li>
				{{- end }}
            {{- end }}
            {{ if and (isset .Site.Params "algolia_search") (eq .Site.Params.algolia_search true) }}
		          <li>
                        <div id="search-box" class="search">
                            <i class="fa fa-search"></i>
                            <input id="search" type="text" placeholder="{{ i18n "search" }}">
                        </div>
                  </li>   
            {{ end }}
          </ul>
        </div>
      </nav>
