<nav class="navbar">
    <div class="container-fluid">
            <div class="navbar-header">                    
        {{ if .IsHome }}
            <a class="logo" href="#page-top">
        {{ else }}
            <a class="logo" href="/#page-top">
        {{ end }}
		    <img src="{{ .Site.Params.navigation.brand_logo }}" alt="Aware Parenting" class="logo"></a>
        <ul class="main-nav js--main-nav">
            {{ if .IsHome }}
				{{ range .Site.Params.navigation.items }}
                    <li>
                        <a class="page-scroll" href="{{ .frontpageurl }}">{{ .name }}</a>
                    </li>
                {{ end }}
            {{ else }}  
				{{ range .Site.Params.navigation.items }}
				    <li>
				        <a href="{{ .url }}">{{ .name }}</a>
				    </li>
				{{- end }}
            {{- end }}
            {{ if and (isset .Site.Params "algolia_search") (eq .Site.Params.algolia_search true) }}
		          <li>
                        <div id="search-box" class="search">
                            <i class="fa fa-search"></i>
                            <input id="search" type="text" placeholder="{{ i18n "search" }}">
                        </div>
                  </li>   
            {{ end }}
		  </ul>
    </div>
</nav>
