<section class="section-proximos-cursos js--section-proximoscursos" id="proximoscursos">
  <div class= "container">
    <div class="row justify-content-center">
        <h2>{{ with .Site.Params.proximoscursos.titulo }}{{ . | markdownify }}{{ end }}</h2>
    </div>
    <div class="row">
        {{ range where (.Pages.ByParam "date1") "Type" "eventos"}}
        {{ if ge (time .Params.date1) (sub (now.Unix) 86400) }}
         <div class="col-6 col-sm-4 col-lg-3 card-row px-1 px-md-3">
            <a class="card event-box" href="{{ .RelPermalink }}">
                <img class="card-img" src="{{ .Params.thumb }}" alt=".Params.thumb">
                <div class="card-img-overlay">
                    <div class="card-evento-date">
                        <div class="card-evento-month">
                                {{ index $.Site.Data.mes (printf "%d" ((time .Params.date1).Month)) }}
                        </div>
                        <div class="card-evento-day">
                                {{ dateFormat "2" .Params.date1 }}{{ with .Params.date2 }}-{{dateFormat "2" . }}{{ end }}
                        </div>
                        <div class="card-evento-year">
                                {{ dateFormat "2006" .Params.date1 }}
                        </div>
                    </div>
                    <div class="card-evento-ciudad">{{ .Params.ciudad }}</div>
                    <div class="card-title card-evento-title">
                        <div class="card-evento-tipo">{{ .Params.tipoevento }}</div>
                        <div class="card-evento-maintitle">{{ .Params.title }}</div>
                    </div>    
                </div>
            </a>    
        </div>
        {{ end }}
        {{ end }}
    </div>
    <div class="row justify-content-center">
            <p>{{ with .Site.Params.proximoscursos.maintext }}{{ . | markdownify }}{{ end }}</p>
            <a class="btn btn-full" href="{{ .Site.Params.proximoscursos.morelink }}">{{ .Site.Params.proximoscursos.more }}</a>  
    </div>    
</div>
</section>