<!DOCTYPE html>
{{ "<!-- escuela de familias -->" | safeHTML }}
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}es-es{{ end }}">
    <head>
        {{ partial "head1.html" . }}
    </head>
    <body id="page-top">
        <header id="hero">
            <div class="layout-hero">
                <img class="mobile-visible" src="{{ .Params.heromobile }}" alt="escuela de familias online">
                <img class="desktop-visible" src="{{ .Params.hero }}" alt="escuela de familias online">
                <div class="hero-gradient"></div>
                {{ partial "navflex.html" . }} 
            </div>
        </header>   
<!-- Hero Section -->    
        <div class="header-page">
            <div class="header-page-text-box">
                <h1>{{ with .Params.Title }}{{ . | markdownify  }}{{ end }}</h1>
                <h3>{{ with .Params.subtitle }}{{ . | markdownify  }}{{ end }}</h3>
            </div>
            <a class="btn btn-full btn-text-huge scroll" href="{{ .Params.registerlnk }}">{{ .Params.buttonregistro }}</a>
        </div>        

<!-- Navigation bar for sections -->

    {{ partial "escuela-nav1.html" . }}


<main role="main">
    <div class="layout-module-wrapper">
        <div class="layout-content">
             <div class="flex-parent-row">
                <div class="layout-67vw">
                    <!-- Presentation Section -->           
                    <section class="escuelasection" id="presentacion">
                        <div class="container">
                            <div class="row justify-content-center">
                                {{ with .Params.introtitle }}
                                    <h2>{{ . | markdownify }}</h2>
                                {{ end }}
                                {{ with .Params.textintro }}
                                    <p>{{ . | markdownify }}</p>
                                {{ end }}
                            </div>
                        </div>
                    </section>
                    <!-- Formato Section -->        
                    <section class="escuelasection" id="formato">
                        <div class="container">
                            <div class="row justify-content-center">
                                {{ with .Params.grupotitle }}
                                    <h2>{{ . | markdownify }}</h2>
                                {{ end }}
                                {{ with .Params.textgrupo }}
                                    <p>{{ . | markdownify }}</p>
                                {{ end }}
                            </div>
                        </div>      
                    </section>
                    <!-- Testimonios Section -->   
                        {{ partial "escuela-testimonios1.html" . }}
                    <!-- Inscripción Section -->   
                        <section class="escuelasection" id="registro">
                            <div class="container pilares-ap">
                                {{ partial "inscripcion-escuela1.html" . }}
                            </div>
                        </section>
                    <!-- Enfoque Section -->   
                    <section class="escuelasection" id="enfoque">
                        <div class="container">     
                            <div class="row justify-content-center">
                                {{ with .Params.enfoquetitle }}
                                    <h2>{{ . | markdownify }}</h2>
                                {{ end }}
                            </div>
                            <div class="row ">
                                <div class="feature-box">
                                    <h4>{{ .Params.enfoquetitle1 }}</h4>
                                    <p>{{ .Params.textenfoque1 | markdownify }}</p>
                                    <h4>{{ .Params.enfoquetitle2 }}</h4>
                                    <p>{{ .Params.textenfoque2 | markdownify }}</p>
                                    <h4>{{ .Params.enfoquetitle3 }}</h4>
                                    <p>{{ .Params.textenfoque3 | markdownify }}</p>
                                    <h4>{{ .Params.enfoquetitle4 }}</h4>
                                    <p>{{ .Params.textenfoque4 | markdownify }}</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- Aprenderás Section -->           
                    <section class="escuelasection" id="Aprenderas">
                        <div class="container pilares-ap">
                            <div class="row justify-content-center">
                                {{ with .Params.aprenderastitle }}
                                    <h2>{{ . | markdownify }}</h2>
                                {{ end }}
                            </div>
                            <div class="flex-parent-row">
                                <div class="layout-half">
                                {{ with .Params.textaprenderas1 }}
                                    <ul>{{ . | markdownify }}</ul>
                                {{ end }}
                                </div>
                                <div class="layout-half">
                                {{ with .Params.textaprenderas2 }}
                                    <ul>{{ . | markdownify }}</ul>
                                {{ end }}
                                </div>
                            </div>    
                        </div>        
                    </section>
                    <!-- Faq Section -->          
                        {{ partial "escuela-faq.html" . }} 
                </div>
                <div class="layout-33vw">
                    {{ partial "escuela-sidebar1.html" . }}
                </div>        
        </div>
        </div>
       
            

    </div>
</main> 
                      
        {{ partial "footer1.html" . }}
        {{ partial "js.html" }}
    </body>
</html>
