<!DOCTYPE html>
{{ "<!-- escuela de familias -->" | safeHTML }}
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}es-es{{ end }}">
    <head>
        {{ partial "head.html" . }}
    </head>
    <body id="page-top">
      <main role="main">
        <header class="header-escuela">
            {{ partial "nav.html" . }} 
        </header>
<!-- Hero Section -->    
        <div class="header-page-text-box">
            <h1>{{ with .Params.Title }}{{ . | markdownify  }}{{ end }}</h1>
            <h3>{{ with .Params.subtitle }}{{ . | markdownify  }}{{ end }}</h3>
        </div>
        <div class="header-page-button justify-content-center">
            <a class="btn btn-full btn-text-huge" href="{{ .Params.registerlnk }}">{{ .Params.buttonregistro }}</a>
        </div>
<!-- Navigation bar for sections -->

        {{ partial "escuela-nav.html" . }}

<div class="row">
    <div class="col-sm-9 col-md-8">
        <!-- Presentation Section -->           
        <section class="pb-1" id="presentacion">
            <div class="container">
                <div class="row justify-content-center">
                    {{ with .Params.introtitle }}
                        <h2>{{ . | markdownify }}</h2>
                    {{ end }}
                    {{ with .Params.textintro }}
                        <p>{{ . | markdownify }}</p>
                    {{ end }}
                </div>
            </div>
        </section>
        <!-- Formato Section -->        
        <section class="pb-1" id="formato">
            <div class="container">
                <div class="row justify-content-center">
                    {{ with .Params.grupotitle }}
                        <h2>{{ . | markdownify }}</h2>
                    {{ end }}
                    {{ with .Params.textgrupo }}
                        <p>{{ . | markdownify }}</p>
                    {{ end }}
                </div>
            </div>      
        </section>
        <!-- Testimonios Section -->   
             {{ partial "escuela-testimonios.html" . }}
        <!-- Inscripción Section -->   
            <section class="pb-1" id="registro">
                <div class="container pilares-ap">
                    {{ partial "inscripcion-escuela.html" . }}
                </div>
            </section>
        <!-- Enfoque Section -->   
        <section class="pb-1" id="enfoque">
            <div class="container">     
                <div class="row justify-content-center">
                    {{ with .Params.enfoquetitle }}
                        <h2>{{ . | markdownify }}</h2>
                    {{ end }}
                </div>
                <div class="row ">
                    <div class="col-xs-12 feature-box ">
                        <h3>{{ .Params.enfoquetitle1 }}</h3>
                        <p>{{ .Params.textenfoque1 | markdownify }}</p>
                    </div>
                    <div class="col-xs-12 feature-box ">
                        <h3>{{ .Params.enfoquetitle2 }}</h3>
                        <p>{{ .Params.textenfoque2 | markdownify }}</p>
                    </div>
                    <div class="col-xs-12 feature-box ">
                        <h3>{{ .Params.enfoquetitle3 }}</h3>
                        <p>{{ .Params.textenfoque3 | markdownify }}</p>
                    </div>
                    <div class="col-xs-12 feature-box ">
                        <h3>{{ .Params.enfoquetitle4 }}</h3>
                        <p>{{ .Params.textenfoque4 | markdownify }}</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Aprenderás Section -->           
        <section class="pb-1 " id="Aprenderas">
            <div class="container pilares-ap">
                <div class="row justify-content-center">
                    {{ with .Params.aprenderastitle }}
                        <h2>{{ . | markdownify }}</h2>
                    {{ end }}
                </div>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                    {{ with .Params.textaprenderas1 }}
                        <ul>{{ . | markdownify }}</ul>
                    {{ end }}
                    </div>
                    <div class="col-xs-12 col-sm-6 ">
                    {{ with .Params.textaprenderas2 }}
                        <ul>{{ . | markdownify }}</ul>
                    {{ end }}
                    </div>
                </div>    
            </div>        
        </section>
        <!-- Faq Section -->          
            {{ partial "escuela-faq.html" . }} 
    </div>
    <div class="col-xs-12 col-sm-3 col-md-4">
        {{ partial "escuela-sidebar.html" . }}
    </div>
</div>


      </main>    
                      
        {{ partial "footer.html" . }}
        {{ partial "js.html" }}
        {{ partial "jsacordion.html" }}
    </body>
</html>
