/* Color morado Aware Parenting: #7D7EBB */
/* Color naranja Aware Parenting:  #F08B4F */
/*-----------*/


/*-----------------------------------------*/
/* BASIC SETUP     */
/*-----------------------------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-rendering: optimizeLegibility;
}

.clearfix {zoom: 1;}
.clearfix:after {
    content: '.';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 20px 0;
}
b,strong {
    font-weight: bolder;
}


.box {
    padding: 1%;
}

.small-gutters {
    margin-right: 2px;
    margin-left: 2px;
}

  .bg-black {
      background-color: rgba(0, 0, 0, 0.8);
      z-index: 2;
  }

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 15px;
    color: #fff;
    font-size: 180%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 150%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 15px;
    letter-spacing: 1px;
}

h3 {
    font-size: 125%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #F08B4F;
    content: " ";
    width: 60px;
    margin: 0 auto;
    margin-top: 15px;
}

p {
    line-height: 1.5;
    margin-bottom: 1rem;
}
button, input, optgroup, select, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    }

/* ----- BUTTONS ----- */
.btn:link,
.btn:visited,
input[type=submit] {
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    -moz-transition: background-color 0.2s, border 0.2s, color 0.2s;
    -ms-transition: background-color 0.2s, border 0.2s, color 0.2s;
    -o-transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type=submit] {
    background-color: #F08B4F;
    border: 1px solid #F08B4F;
    color: #fff;
    margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #c77645;
}

.btn-full:hover,
.btn-full:active {
    border: 1px solid #c77645;
}

.btn-ghost:hover,
.btn-ghost:active {
    border: 1px solid #c77645;
    color: #fff;
}

.btn-hero:link,
.btn-hero:visited {
    text-decoration: none;
    font-size: 115%;
    font-weight: 300;
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    border-bottom: 3px solid transparent;
    color: #dfdfdf;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
}

.btn-hero:hover,
.btn-hero:active {
    color: #F08B4F;
    border-bottom: 3px solid #F08B4F;
}

.btn-text-huge {
    font-size: 1em;
}

/* EVENTOS */

.event-box h5 {
    font-size: 90%;
}
/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

.header-hero {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0)), url(/css/img/hero_bg-min.png);
    background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0)), url(/css/img/hero_bg-min.png);
    background-image: -o-linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0)), url(/css/img/hero_bg-min.png);
    background-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0)), url(/css/img/hero_bg-min.png);
    background-image: -ms-linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0)), url(/css/img/hero_bg-min.png);
    background-size: cover;
    background-position: center;
    height: 90vh;
}

.hero-text-box {
    position: absolute;
    width: 75%;
    top: 15%;
    left: 10%;
    transform: translate (-10%, -15%);
    -webkit-transform: translate (-10%, -15%);
    -moz-transform: translate (-10%, -15%);
    -ms-transform: translate (-10%, -15%);
    -o-transform: translate (-10%, -15%);
}

.hero-text-box h2,
.hero-text-box h3,
.hero-text-box p {
    text-align: left;
    color: rgba(193, 193, 193, 0.8);
    text-transform: none;
}

.hero-text-box p {
    font-size: 110%;
}

.hero-text-box p::after {
    display: block;
    height: 10px;
    background-color: rgba(230, 126, 34, 0);
    content: "";
    width: 100%;
    margin: 0 auto;
    margin-top: 0px;
}


/* Main Navigation */

.top-z {
    z-index: 1001;
}
.main-nav {
    background-color: rgba(45, 48, 39, 0.8);
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 4px 4px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 80%;
    border-bottom: 0px solid transparent;
    float: right;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 0px solid #fdfdfd;
}

.main-nav-dark {
    background-color: rgba(255, 255, 255, 0.8);
}

.main-nav-dark li a:link,
.main-nav-dark li a:visited {
    color: #555;
}


.responsive-nav {
    float: right;
    list-style: none;
}

.responsive-nav li {
    display: block;
    margin-left: 40px;
}
.responsive-nav li a:link,
.responsive-nav li a:visited {
    padding: 2px 0;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 85%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
    -webkit-transition: border-bottom 0.2s;
    -moz-transition: border-bottom 0.2s;
    -ms-transition: border-bottom 0.2s;
    -o-transition: border-bottom 0.2s;
}

.responsive-nav li a:hover,
.responsive-nav li a:active {
    border-bottom: 2px solid #f08b4f;
    color: #F08B4F;
}

.logo {
    height: 35px;
    width: auto;
    float: left;
    padding-left: 20px;
    margin-top: 5px;
}

.dropdown-menu {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.dropdown-item {
    text-align: right;
    font-weight: 300;
}
.dropdown-item:hover {
    background-color:inherit;
}

.semi-dark {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.01));

}
.darkbg {
    background-color: #111;
}

.navbar-fixed-top.scrolled,
.navbar-fixed-top.scrolled .dropdown-menu,
.navbar-fixed-top.scrolled ul {
    background-color: #fff !important;
    transition: background-color 200ms linear;
  }
  
  .navbar-fixed-top.scrolled .nav-link,
  .navbar-fixed-top.scrolled .dropdown-item,
  .navbar-fixed-top.scrolled a {
    color:#555;
  }
  


/* ----------------------------------------------- */
/* FEATURE */
/* ----------------------------------------------- */

.features {
    position: relative;
}

.features p {
    text-align: center;
}

.feature-box {
    text-align: center;
}
.feature-box img {
    width: 35%;
    height: auto;
    margin-bottom: 30px;
}

.features a {
    text-align: center;
}

.feature-box li {
    list-style: none;
    text-align: left;
}
.feature-box h4 {
    font-size: 120%;
    font-weight: bolder;
    padding-top:1.5em;
    padding-bottom: 0.8em;
}
.feature-box h4:first-of-type {
    padding-top: 0;
}

/* ----------------------------------------------- */
/* PROXIMOS CURSOS */
/* ----------------------------------------------- */

.section-proximos-cursos,
.pilares-ap {
    background-color: #f4f4f4;
}
.card-row {
    padding-bottom: 15px;
}
.card-evento-title {
    position: absolute;
    left: 4px;
    bottom: 5px;
    margin-bottom: 0;
    line-height: 1;
    font-size: 95%;
}
.card-evento-maintitle {
    color: #fdfdfd;
    font-weight: 700;
    word-spacing: 1px;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-align: left;
}

.card-evento-tipo {
    color: #fdfdfd;
    font-weight: 300;
    word-spacing: 1px;
    letter-spacing: 0px;
    text-transform: uppercase;
    text-align: left;
}

.card-evento-date {
    background-color: rgba(125, 126, 187, 0.486);
    border-radius: 2px;
    position: absolute;
    top: 5px;
    right: 5px;
    line-height: 90%;
    color: #fff;
    text-align: center;
}

.card-evento-month {
    text-transform: uppercase;
    font-size: 80%;
}
.card-evento-day {
    font-size: 80%;
    font-weight: bold;
    word-spacing: 0px;
    letter-spacing: 0px;
}

.card-evento-year {
    font-size: 70%;
}
.card-evento-ciudad {
    font-weight: 300;
    font-size: 85%;
    text-transform: uppercase;
    position: absolute;
    top: 5px;
    left: 4px;
    color: #fff;
}


/* ----------------------------------------------- */
/* CONSULTA */
/* ----------------------------------------------- */

.section-consulta {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(/css/img/consulta.png);
    background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(/css/img/consulta.png);
    background-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(/css/img/consulta.png);
    background-image: -o-linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.4)), url(/css/img/consulta.png);
    background-size: cover;
    background-position: center top ;
    background-attachment: scroll;
    color: #fdfdfd;
}

/* CONSULTA FORM */

.consulta-form {
    background-color: rgba(125, 126, 187, 0.459);
    border-radius: 0.2rem;
    text-align: left;
}

.consulta-form h3 {
    padding-top: 15px;
    text-align: center;
}

.contacto-form {
    background-color: rgb(255, 255, 255);
    border-radius: 0.2rem;
    text-align: left;
}

.contacto-form h5 {
    padding-top: 15px;
    text-align: center;
}
.formulario-consulta,
.formulario-contacto {
    width: 100%;
}

.form-label {
    padding-top: 10px;
    margin-bottom: 0px;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-weight: 300;
}


textarea {
    height: 150px;
}

input[type=checkbox] {
    margin: 10px 5px 10px 0;
}
input[type=submit] { 
    margin: 10px 5px 20px 0;
}

*:focus {outline: none;}

.form-25 {
    width: 25%;
    padding-top: 5px;
    margin-bottom: 20px;
    line-height: 1.5em;
}
.form-75 {
    width: 75%;
    line-height: 1.5em;
}

/* ----------------------------------------------- */
/* ARTICULOS */
/* ----------------------------------------------- */

/* LISTA DE ARTÍCULOS */

.header-articulo{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0)), url(/css/img/Laura_escribiendo-min.jpg);
    background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0)), url(/css/img/Laura_escribiendo-min.jpg);
    background-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0)), url(/css/img/Laura_escribiendo-min.jpg);
    background-image: -o-linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0)), url(/css/img/Laura_escribiendo-min.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 25vh;
} 

.header-page-text-box {
    position: absolute;
    width: 100%;
    top: 12%;
    transform: translate (-10%, -15%);
    -webkit-transform: translate (-10%, -15%);
    -moz-transform: translate (-10%, -15%);
    -ms-transform: translate (-10%, -15%);
    -o-transform: translate (-10%, -15%);
}

.header-page-text-box h1 {
    margin-top: 0px;
    color: #fff;
    font-size: 180%;
    word-spacing: 3px;
    letter-spacing: 0px;
    text-align: center;
    margin-bottom: 0px;
}

.header-page-text-box h3 {
    margin-top: 0px;
    color: #fff;
    font-size: 120%;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-align: center;
}
.header-page-button {
    position: absolute;
    width: 100%;
    top: 30%;
    text-align: center;
}




.author-category {
    
    float: left;
    font-size: 90%;
}

.date-comments {
    float: right;
    font-size: 90%;
    color: #555;
}
.articulo {
    padding-top: 25px;
}

.articulo a {
    text-decoration: none;
    color: #555;
}

.articulo a:hover,
.articulo a:active {
    color: #c77645;
}

.read-more {
    text-align: right;
    text-transform: uppercase;
    font-size: 80%;
    font-weight: 700; 
}

.previous {
    float: left;
    text-align: left;
    text-transform: uppercase;
    font-size: 80%; 
}

.next {
    float: right;
    text-align: right;
    text-transform: uppercase;
    font-size: 80%; 
}

/* pager*/
.pager {
    margin: 20px 0;
    border-top: solid 1px #eeeeee;
    padding-top: 20px;
    text-transform: uppercase;
    letter-spacing: 0.08em;
    font-family: "Roboto", Helvetica, Arial, sans-serif;
}
.pager li {
    display: inline;
    padding-bottom: 20px;
}
  
  /* MAIN ARTICLE */
.articulo-main {
    padding-bottom: 30px;
}
.articulo-main h1 {
    font-size: 200%;
    color: #555;
}
.articulo-main h2 {
    color: #555;
    font-size: 160%;
    text-align: left;
    text-transform: initial;
}

.articulo-main h2:after {
    display:none;
}

.articulo-main h3 {
    font-size: 120%;
    color: #555;
    text-align: left;
    text-transform: none;
}
.articulo-main img {
    display: flex;
    max-width: 100%;
    overflow: hidden;
    float: right;
    margin: 15px 0 15px 15px;
}
.articulo-breadcrumbs {
    margin-top: 40px;
    color: #aaa;
    padding-bottom: 20px;
}

.bottom-articulo-libro {
    padding-top: 20px;
    margin-top: 20px;
    border-top: 2px;
    border-top-style: solid;
    border-top-color: #555;
    text-align: center;
}
/* ----------------------------------------------- */
/* EVENTOS */
/* ----------------------------------------------- */

.evento-main {
    padding-bottom: 30px;
}
.evento-main h1 {
    font-size: 180%;
    color: #555;
    padding-top: 2rem;
    margin-bottom: 0;
    width: 100%;
}
.evento-main h2 {
    color: #555;
    font-size: 150%;
    text-align: left;
    text-transform: initial;
    display: block;
    margin-bottom: 0px;
}

.evento-main h2:after {
    display:none;
}
.evento a {
    text-decoration: none;
    color: #555;
}

.evento a:hover,
.evento a:active {
    color: #c77645;
}

.evento-label {
    text-transform: uppercase;
    font-size: 90%;
    color: #aaa;
    vertical-align: text-bottom;
    text-align: left;
    padding-left: 0px;
}

.evento-fecha {
    font-weight: 400;
    text-align: left;
    vertical-align: text-bottom;
    padding-left: 25px;
}
.evento-text-min {
    font-size: 100%;
    font-weight: 300;
    text-align: left;
    padding-left: 25px;
}
.evento-text-min p {
    margin-bottom: 0;
}
.evento-data {
    margin-bottom: 0.5rem;
}
.evento-data p {
    margin-bottom: 0;
}
.evento-lugar {
    font-weight: 400;
}

.evento-img {
    width: 100%;
    margin-left: 15px;
}


/* ----------------------------------------------- */
/* FOOTER */
/* ----------------------------------------------- */

footer {
    background-color: #333;
    padding: 20px;
    font-size: 80%;
}
.footer-25 {
    width: 25%;
    line-height: 1.5em;
}
.footer-article-25 {
    width: 25%;
}
.footer-article-75 {
    width: 75%;
    line-height: 1.2em;
}

.img-fluid {
    max-width: 100%;
    height: auto;
    }

.footer-nav {
    list-style: none;
}

.footer-nav li {
    text-decoration: none;
    border: 0;
    color: #888;
}

.social-links {
    list-style: none;
    float: right;
}

.social-links li {
    display: inline-block;
    margin-right: 20px;
}

.social-links li:last-child {
    margin-right: 0;
}
.articulo-footer a{
    text-decoration: none;
}

.footer-nav li a:link,
.footer-nav li a:visited, 
.articulo-footer a:link,
.articulo-footer a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.articulo-footer a:hover,
.articulo-footer a:active {
    color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00aced;
}

footer p {
    color: #888;
    text-align: center;
    margin-top: 20px;
}

footer h3 {
    color: rgb(197, 197, 197);
}
footer h4 {
    color: rgb(197, 197, 197);
    text-transform: uppercase;
    font-size: 100%;
    font-weight: 300;
}

.articulo-footer {
    margin-top: 0px;
}

.newsletter {
    display: block;
}

.newsletter:after {
    display: block;
    height: 1px;
    background-color: #888;
    content: " ";
    width: 60%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}


/* CURSOS */


.header-cursos{
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0)), url(/css/img/Formacion.png);
    background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0)), url(/css/img/Formacion.png);
    background-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0)), url(/css/img/Formacion.png);
    background-image: -o-linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0)), url(/css/img/Formacion.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% center;
    height: 25vh;
} 
.header-escuela {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0)), url(/css/img/Formacion.png);
    background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0)), url(/css/img/Formacion.png);
    background-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0)), url(/css/img/Formacion.png);
    background-image: -o-linear-gradient(to right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.0)), url(/css/img/Formacion.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 70% center;
    height: 50vh;
} 

/* Lista cursos y charlas*/
.list-body {
    /* box-shadow: 0 12px 20px hsla(0, 0%, 62%, 0.3); */
    background: #fbfbfd;
    margin-bottom: 0;
}     
.list-body h3, .intro .name {
    width: 85%;
    padding-right: 10px;
    padding-top: 5px;
    margin-bottom: 0px;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 100%;
    line-height: 1.2rem;
}

.list-body h3:before, .intro .name:before, .active-list-el .name:before {
    content: '+';
    border: 1px solid #555;
    border-radius: 30px;
    padding: 1px 4px;
    line-height: 1em;
    font-size: 100%;
    position: absolute;
    left: -28px;
    margin-top: 2px;
    top: calc(50% - 10px);
}
    
.list-body .list-el {
    padding: 0px 0px 5px 40px;
    font-size: 100%;
    color: #555;
    border-bottom: 1px solid rgba(40, 40, 40, 0.1);
    margin-bottom: 0;
    cursor: pointer;
}
    
.list-body .active {
    background: #fff;
}
    
.list-body .intro {
    display: flex;
    align-items: center;
    position: relative;
}
    

    
.active-list-el .name:before, .active-list-el h3:before {
    content: '-';
    font-size: 100%;
    padding: 1px 6px;
}
    
.list-body .desc {
    margin-top: 15px;
    display: flex;
}
    
.list-body .desc p, .list-body .desc a {
    font-size: 100%;
    line-height: 20px;
    color: #555;
    padding-right: 20px;
}
    
.list-body .desc p:last-child {
    margin-bottom: 0;
}
    
    
.active-list-el {
    background: #ffffff;
}
    
.other-params {
    width: 15%;
}
    
.other-params .flex-box  {
    display: flex;
    align-items: center;
}
    
    
.list-body .desc .other-params .single-column-3:last-child {
    margin-bottom: 0;
}
    
.other-params .name:before {
    content: none;
}


/*********************************
    ABOUT 
*********************************/

.header-about {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0)), url(/css/img/hero_bg-min.png);
    background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0)), url(/css/img/hero_bg-min.png);
    background-image: -o-linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0)), url(/css/img/hero_bg-min.png);
    background-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0)), url(/css/img/hero_bg-min.png);
    background-image: -ms-linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.0)), url(/css/img/hero_bg-min.png);
    background-size: cover;
    background-position: center;
    height: 35vh;
}

.about {
    padding-top: 15px;
    padding-bottom: 15px;
}
.about .ajuste-bottom {
    padding-bottom: 15px;
}

/*********************************
    ABOUT 
*********************************/
.programa-box {
    text-align: center;
}
.programa-box img {
    width: 50%;
    height: auto;
    margin-bottom: 30px;
}

.programa-box p {
    font-size: 90%;
    text-align: left;
}  
.programa-box h4 {
    font-size: 105%;
}  

/*********************************
    MURRI 
*********************************/

.header-murri {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0)), url(/img/murri/Athens2.jpg);
    background-image: -webkit-linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0)), url(/img/murri/Athens2.jpg);
    background-image: -o-linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0)), url(/img/murri/Athens2.jpg);
    background-image: -moz-linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0)), url(/img/murri/Athens2.jpg);
    background-image: -ms-linear-gradient(to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.0)), url(/img/murri/Athens2.jpg);
    background-size: cover;
    background-position: center;
    height: 35vh;
}

.about {
    padding-top: 15px;
    padding-bottom: 15px;
}
.about .ajuste-bottom {
    padding-bottom: 15px;
}

.header-murri-text-box {
    position: absolute;
    width: 100%;
    top: 12%;
    transform: translate (-10%, -15%);
    -webkit-transform: translate (-10%, -15%);
    -moz-transform: translate (-10%, -15%);
    -ms-transform: translate (-10%, -15%);
    -o-transform: translate (-10%, -15%);
}

.header-murri-text-box h1 {
    margin-top: 0px;
    color: #fff;
    font-size: 250%;
    font-weight: 700;
    text-shadow: 2px 2px 2px rgba(36, 35, 35, 0.87);
    word-spacing: 4px;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 10px;
}

.header-murri-text-box h3 {
    margin-top: 0px;
    color: #fff;
    font-size: 120%;
    font-weight: 400;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-align: center;
    text-shadow: 1px 1px 2px rgba(65, 65, 65, 0.863);
}

/* @group Faq Collapsible Styling */
input[type='checkbox'] {
	display: none;
  }

  .faq-toggle {
	display: block;  
	font-weight: 500;
	cursor: pointer;
  }

  .collapsible-content {
	max-height: 0px;
	overflow: hidden;
  
	transition: max-height .25s ease-in-out;
  }
  .faq-toggle:checked + .faq-toggle + .collapsible-content {
	max-height: 100vh;
  }
  .style-faq-item-title {
    padding: 15px 0px 15px 15px;
    font-size: 100%;
    color: #555;
    border-top: 1px solid rgba(40, 40, 40, 0.1);
    margin-bottom: 0;
    cursor: pointer;
    background-color: #fbfbfb;
  }

  .style-faq-item-description {
      text-align: left;
      background-color: #fbfbfb;
      margin-bottom: 0;
      padding: 15px 0px 1rem 15px;

  }

/* @end */

.flex-parent-scroll {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: scroll;
    align-items: flex-start;
}

.flex-child-scroll {
    padding: 0 0.7em;
    width: auto;
}
.flex-child-scroll a {
    color: #555;
    text-align: center;
    text-decoration:none;
}
.flex-child-scroll a:hover {
    color: #F08B4F;
    text-decoration-line: none;
    -moz-text-decoration-line: none;
}
.flex-child-scroll a:active {
    font-weight: normal;
}

.layout-sticky {
    position: sticky;
    top: 73px;
    z-index: 1000;
    background-color: #fff ;	
}
/* horizontal scrollbar */

/* .ap-scrollbar::-webkit-scrollbar {
	height: 0.4em;
  }
  */
  /* Track */
  .ap-scrollbar::-webkit-scrollbar {
      display: none;
  }
  .ap-scrollbar::-webkit-scrollbar-track {
	border-radius: 10px;
	background: #fff;
	opacity: 0.5;
  }

  /* Handle */
  .ap-scrollbar::-webkit-scrollbar-thumb {
	background: #ddd; 
	border-radius: 10px;
	opacity: 0.4;
  }

  :target:before {
    position:relative;
    content: "";
    display: block;
    height: 135px;
    margin-top: -65px;
  }

/* @end */

/* Styling Escuela de familias */
.escuelasection {
    padding-top: 50px;
    padding-bottom: 5px;
}
.escuelasection:first-of-type {
    padding-top: 30px;
}
/* sidebar for Escuela online */
.sidebar-layout {
    background-color: rgb(245, 245, 245);
    padding: 30px 10px;
    margin: 0;
    width:100%;
}
.sidebar-block {
    padding-bottom: 1.5em;
    padding-right: 2px;
    padding-left: 2px;
}
.sidebar-block-flex {
    padding-bottom: 0.8em;
    padding-right: 2px;
    padding-left: 2px;
    padding-top: 0.8em;
    display: flex;
}
.sidebar-block-flex:first-child{
    padding-top: 0;
    display: flex;
}
.sidebar-icon {
    padding-right: 0.8em;
    text-align: left;
}
.sidebar-icon-flex {
    padding-right: 0.4em;
    text-align: left;
    width: 10%;
}
.sidebar-text {
    text-aling: left;
}
.sidebar-text-flex {
    text-aling: left;
    width: 90%;
}
.sidebar-text h3,
.sidebar-text-flex h3 {
    margin-bottom: 0.2em;
    font-size: 110%;
}
.sidebar-text p 
.sidebar-text-flex p {
    margin-bottom: 0;
}
.sidebar-pill {
    border: 1px solid #F08B4F;
    color: #F08B4F;
    text-align: center;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    font-size: 0.8em;
    padding: 2px 5px;
    line-height: 1.2em;
    margin-top: 0.4em;
    width: auto;
}
.sidebar-layout .white-bg {
    background-color: white;
    width: 100%;
}



/*******************************************************************************
******* NEW CSS DECLARATIONS WITHOUT BOOTSTRAP *********************************
********************************************************************************/

/* Navbar */
.apnavbar { 
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1000;
    border: none;
    transition: all .35s;
    margin: 0;
    padding: 0;

}
/* Links inside the navbar */
.apnavbar a {
    display: block;
    text-align: left;
    font-size: 0.8em;
    font-weight: light;
    color: #ddd;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
  }
  
  .apnavbar a:hover {
    color: #F08B4F;
  }
  
  /* Adjust logo positioning */
  .apnavbar-brand {
    height: 58px;
    padding: 0;
    color: #F08B4F;
    float: left;
    width: 10em;
    min-width: 120px;
  }
  .apnavbar-brand img {
      padding:2px 0;
  }
  /* definition of the "burger" */
  .apnavbar-icon {
    height: 1.2em;
    margin-right: 8px;
    padding-top:-2px;
  }

  nav:after {
    content: "";
    display: table;
    clear: both;
  }
  
  nav ul.apmenu {
    float: right;
    padding: 0;
    margin: 0;
    position: relative;
    background-color: transparent;
  }
  
  nav ul.apmenu li {
    margin: 0px;
    display: inline-block;
    float: left;
    list-style: none;
  }
  
  nav ul.apmenu>li>a {
    padding: 15px 0.9em;
    line-height: 20px;
    border: none;
  }
  nav ul.apmenu>li>a:first-child {
    padding: 15px 0.9em 15px 0;	
  }
  
  nav ul.apmenu>li>ul>li>a {
    padding: 5px 15px;
    font-size: 0.8em;
    background-color: transparent;
    line-height: 20px;
  }
  nav ul.apmenu>li>ul>li:hover { color: #F08B4F; }
  
  nav ul.apmenu ul {
    display: none;
    position: absolute;
    top: {{ site.Params.navigation.height }}-2;
    background-color: transparent;
    padding: 0;
  }
  
  nav ul.apmenu ul li {
    min-width: 160px;
    float: none;
    display: list-item;
    position: relative;
  }

  .menutoggle, [id^=drop] {
    display: none;
    margin-bottom: 0;
   }
   
   nav.apnavbar input[type=checkbox] { margin-top: 0; }
   
   
   
   
   @media all and (min-width : 481px) {
     nav.apnavbar ul li:hover > ul { display: inherit; }
   }
   
   @media all and (max-width : 480px) {
   
   apnavbar { margin: 0; }
   
   .menutoggle + a,
    .apmenu { display: none; }
   
   .menutoggle {
     display: block;
     background-color: #222;
     padding: 5px 10px;
     color: #ddd;
     font-size: 0.8em;
     line-height: 1.6em;
     text-decoration: none;
     text-transform: uppercase;
     font-weight: 700;
     border: none;
   }
   
   .menutoggle:hover {color: #F08B4F; }
   
   .apnavbar-icon {
       float: right;
       display: block;
       font-size: 1.6em;
       padding: 3px 0px;
       background-color: #222;
     }
   
   
   [id^=drop]:checked + ul { display: block; }
   
   nav.apnavbar ul.apmenu li {
     display: block;
     width: 100%;
   }
   
   nav ul.apmenu>li>a,
   nav ul.apmenu>li>a:first-child,
   nav ul.apmenu>li>label,
   nav ul.apmenu>li>ul>li>a {
     padding: 5px 10px;
     color: #ddd;
     text-align: right;
     min-width: 240px;
   }
   
   nav ul.apmenu>li>ul>li>a {
     padding: 5px 20px;
   }
   
   nav ul.apmenu ul .toggle,
    nav ul.apmenu ul a { padding: 0 40px; }
   
   
   nav.apnavbar ul li ul li .menutoggle,
    nav.apnavbar ul ul a { background-color: #222; }
   
   nav ul.apmenu ul {
     float: none;
     position: static;
     color: #ffffff;
   }
   
   }
   
   
   /* @end */



/* Layout */
.layout-module-wrapper {
    padding: .2vw;
}
.layout-content {
    padding: 2vw .2vw;
    margin: auto;
    width: 95vw;
    max-width: 1140px; /* prevents text area from getting unpleasantly wide */
}
.layout-content-width {
    padding: 0 1vw;
    margin: auto;
    width: 90vw;
    max-width: 1140px; /* prevents text area from getting unpleasantly wide */
}

.layout-33vw {
    width: 33%;
    padding: 1vw;
}
.layout-67vw {
    width: 67%;
    padding: 1vw;
}
.layout-75vw {
    width: 75%;
    padding: 1vw;
}
.layout-half {
    width: 50%;
    padding: 1vw;
}

.layout-half ul {
    line-height: 1.5em;
}
.layout-sticky {
    position: sticky;
    top: 58px;
    z-index: 100;	
}
.sticky-sidebar {
    position: sticky;
    top: 120px;
    z-index: 100;	
}

.flex {
    display: flex;
}
.flex-parent-row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}
.flex-justify-content {
    justify-content: center;
}
.flex-content {
    margin: auto;
    width: 95vw;
    max-width: 1140px; /* prevents text area from getting unpleasantly wide */
}
.flex-align-left {
    width: 95vw;
    justify-content: flex-start;
    max-width: 1140px;
}
.flex-align-center {
    align-items: center;
}
.d-none {
    display: none;
}
.text-center {
    text-align: center;
}

.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video-window {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.padding-tb-normal {
    padding-top: 0.8em;
    padding-bottom: 0.8em;
}
.padding-lr-normal {
    padding-left: 1vw;
    padding-right: 1vw;
}
.padding-lr-tiny {
    padding-left: .2vw;
    padding-right: .2vw;
}
.light-shadow {
  box-shadow: 0 .125rem .25rem  rgba(0,0,0,.075); 
}